.item-image {
    width: 30%; /* Take full width of its parent container */
    height: 20%; /* Height will adjust to maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f0f0f0; /* Ensures a consistent background if the image does not fill */
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    background-color: #c2d0df;
    border-radius: 6px;
    padding: 15px;
    width: -webkit-fill-available;
}

.detail-container h2 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail-container h3 {
    font-size: 1.4rem;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.welcome-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 6px;
    padding: 15px;
}

.welcome-note {
    text-align: center;
    margin: 25px 0px;
    font-size: 3.5rem;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.selection-note {
    text-align: center;
    margin: 25px 0px;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.item-detail {
    border-radius: 8px;
    color: #2c3d50;
    width: 100%;
    margin-left:150px;
    font-size: 1.2rem;
}

.details-container {
    margin-top: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}