.location-tree {
    color: white;
    font-family: 'Arial', sans-serif;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #2c3d50;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tree-root, .tree-node {
    margin: 10px 0;
}

.tree-root {
    list-style-type: none;
}

.node-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #34495e;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.node-header:hover {
    background-color: #516f8d;
}

.node-name {
    flex: 1;
    padding: 5px;
    font-weight: bold;
}

.tree-branch {
    list-style-type: none;
    padding-left: 15px;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 500px;
    overflow: hidden;
}

.tree-branch.expanded {
    max-height: 1000px;
    opacity: 1;
}

.location-tree {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    width: 300px;
    height: 93vh;
    overflow-y: auto;
}

.node-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: #2c3d50;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

.node-name {
    font-weight: bold;
}

.view-button {
    padding: 3px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-button:hover {
    background-color: #0056b3;
}

.item-details {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 10px;
    color: #2c3d50;
    cursor: pointer;
}




.arrow {
    margin-right: 12px;
    transition: transform 0.2s ease;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
}

.arrow-right {
    transform: rotate(45deg); /* Arrow pointing right */
}

.arrow-down {
    transform: rotate(225deg); /* Arrow pointing down */
}

